body{
    background-color: black;
    color: chartreuse;
    font-family: 'Fira Code' , monospace;   
}
.cursor{
    display: inline-block;
    width: 10px;
    height: 1em;
    background-color: #0f0;
    animation: blink 1s steps(1) infinite;
    vertical-align: top;
}
@keyframes blink{
    50%{
        opacity: 0;
    }
}

.terminal{
    color: chartreuse;
    border: solid 2px;
    border-radius: 1%;
    border-color: chartreuse;
}